rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Image Data:
    //   - Anyone can read.
    //   - Anyone can add and edit characters
    //   - Deletes are not allowed.
    match /marioImage/{charName}{
      allow read;
      allow create, update;
      allow delete: if false;
    }
    // High Score Data:
    //   - Anyone can read.
    //   - Anyone can add and edit scores.
    //   - Anyone can delete scores.
    match /highScores/{scoreId}{
      allow read;
      allow create, update;
      allow delete: if false;
    }
  }
}
