@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

div.App {
  display: flex;
  font-family: 'VT323', monospace;
}
div.App img.game-image {
  width: 98.8vw;
}

div.game-container {
  position: relative;
  display: flex;
}

button,
input {
  font-family: 'VT323', monospace;
}
