div.menu-background {
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.895);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

div.menu-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
}

div.menu-main,
div.menu-results,
div.menu-submit,
div.menu-loading {
  background-color: white;
  border-radius: 2vw;
  padding: 2vw 2vw;
  gap: 2vw;
  display: flex;
}

div.menu-main {
  width: 40vw;
  flex-direction: column;
  align-items: center;
}

div.menu-results {
  width: 40vw;
  justify-content: space-evenly;
}

div.menu-results div.user-time,
div.menu-results div.high-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

div.menu-results div.user-time h1,
div.menu-results div.high-scores h1 {
  font-size: 3vw;
}

div.menu-results div.high-scores ol {
  font-size: 2vw;
  padding-left: 2.3vw;
}

div.menu-results div.user-time h1,
div.menu-results div.user-time h2,
div.menu-results div.high-scores h1,
div.menu-results div.high-scores ol {
  margin: 0;
}

div.menu-submit {
  width: 40vw;
  flex-direction: column;
  align-items: center;
}

div.menu-submit h1 {
  margin: 0;
  text-align: center;
  font-size: 1.6vw;
}

div.menu-submit form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
}

form label {
  font-size: 1.6vw;
}
form input#userName {
  width: 3.3vw;
  text-align: center;
  font-size: 2vw;
  text-transform: uppercase;
}

div.menu-main h2 {
  margin: 0;
}

div.menu-main div.menu-row {
  display: flex;
  align-items: center;
  width: 21.7vw;
}

div.menu-main div.menu-row div.char-image-col {
  width: 12vw;
  display: flex;
  justify-content: flex-start;
}

div.menu-main div.menu-row div.char-image-col img {
  width: 10vw;
}

div.menu-main button {
  padding: 0.2em 0.8em;
  border-radius: 1em;
  cursor: pointer;
  color: white;
  background-color: hsl(0, 100%, 50%);
  font-size: 2.5vw;
  font-weight: bold;
  border: 3px solid black;
}

div.menu-main button:hover {
  background-color: hsl(0, 100%, 60%);
}

div.menu-main button:active {
  background-color: hsl(0, 100%, 40%);
}

.menu-btn {
  padding: 0.2em 0.8em;
  border-radius: 1em;
  cursor: pointer;
  color: white;
  background-color: hsl(0, 100%, 50%);
  font-size: 2.5vw;
  font-weight: bold;
  border: 3px solid black;
}

.menu-btn:hover {
  background-color: hsl(0, 100%, 60%);
}

.menu-btn:active {
  background-color: hsl(0, 100%, 40%);
}

.retry-btn {
  font-size: 2.5vw;
}

.submit-btn {
  font-size: 2vw;
}
